extends authLayout

block content
    -if (!email_and_password_match) 
        <div class="alert alert-danger">
            <strong>로그인 실패!</strong> 이메일 혹은 비밀번호가 틀렸습니다.
        </div>

    
    <form action="/auth/login" class="was-validated" method="post">
        <div class="form-group">
            <label for="uname">Email:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter Email" name="login_user_email" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="login_user_password" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
            <div class="valid-feedback">Valid.</div>

            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>