extends layout


block content
    h1=title
    p 파일 이름 형식 : 년-월-일-파일이름.md
    br
    form(action='/main/postwrite' method="post" enctype="multipart/form-data")
        input(type="file" class="form-control-file border", name='postFile')
        br
        input(type="submit" value="확인" class="btn btn-primary btn-sm")