doctype html
html
  frame
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
      script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")

    body

      block top
        .blog-title
          a(id="go_home" href="/main") 개발 BLOG
           
          
      hr
      div(class="siderbarAndContent")
        .container-fluid
          .row
            .col-sm-2
              block sider-left
                div(class="profile")
                  img(src="/images/profile.jpg" class="profile-img" alt="Avatar")
                  br
                  div(class="profile-text")
                    h6(id="profile-text-title") 개발자가 되고싶은 대학생
                    p 대구가톨릭대학교 20119025 박한백
                    br



            .col-sm-8
              block content

            .col-sm-2
              block sider-right
                div(class="panel panel-info")
                  ul.list-group
                    li.list-group-item
                      a(href='/main') home
                    li.list-group-item
                      a(href='/aboutme') About me
                    li.list-group-item
                      a(href='/guestbook') 방명록


    footer
      hr
      .container-fluid
        h2 한백 개발 블로그
        
        br
        div
          |Copyright 2021.
          a(href="https://github.com/totwjfakd") github.com/totwjfakd
          |.
          |All rights reserved.


